<ion-view view-title="Homescreen" hide-nav-bar="false">
  <ion-content scroll="true" class="center">
    <div class="row">
      <div class="col">
        <div id="logo-wrapper" class="text-center padding">
          <img class="logo full-image" src="../img/logo.png">
        </div>

        <div class="text-center padding">
          <button id="time" class="button button-large icon ion-clock button-positive round"
                  ng-click="toggle('time')"
                  ng-class="selectedButton.time ? 'toggle-on' : 'toggle-off'"></button>
          <button id="environment" class="button button-large icon ion-leaf button-balanced round"
                  ng-click="toggle('environment')"
                  ng-class="selectedButton.environment ? 'toggle-on' : 'toggle-off'"></button>
          <button id="exercise" class="button button-large icon ion-ios-body button-stable round"
                  ng-click="toggle('exercise')"
                  ng-class="selectedButton.exercise ? 'toggle-on' : 'toggle-off'"></button>
        </div>

        <div>
          <span class="alignleft"><br></span>
          <span class="Time prefer" ng-show="travelMode === 'Time'">{{travelMode}}</span>
          <span class="Environment prefer" ng-show="travelMode === 'Environment'">{{travelMode}}</span>
          <span class="Exercise prefer" ng-show="travelMode === 'Exercise'">{{travelMode}}</span>
          <span class="alignLeft"><br><br></span>

        </div>

        <div id="form">
          <form name="travelform" ng-submit="travel(travelform)">
            <div class="list">
              <div class="row">
                <div class="col col-90">
                  <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input required type="text" name="location" ng-model="travels.location">
                  </label>
                </div>
                <div class="col col-10">
                  <button class="button button-clear button-dark button-large icon ion-location"
                          type="button"
                          ng-click="addLocation(travels.location)"> </button>
                </div>
              </div>
              <label class="item item-input">
                <span class="input-label">Destination</span>
                <input required type="text" name="destination" ng-model="travels.destination">
              </label>
            </div>
            <div class="button-bar">
              <button class="button button-large button-positive" type="submit"
                      ng-disabled="travelform.$invalid" nav-direction="forward">See Travel Suggestions</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
