<ion-view view-title="Glas-Go!">
    <ion-content class="padding">
        <div class="row">
            <div class="col center">
                <button class="button icon ion-clock button-positive round"></button>
            </div>
            <div class="col center">
                <button class="button icon ion-leaf button-balanced round center"></button>
            </div>
            <div class="col center">
                <button class="button icon ion-android-walk button-dark round center"></button>
            </div>
        </div>
    </ion-content>
</ion-view>
