<ion-view view-title="Settings">
  <ion-content>
    <ion-list class="list">
      <div class="item text-center">
        External Hyperlinks:
      </div>
      <button class="item button button-full button-clear button-positive" href="#"
         onclick="window.open('http://www.nextbike.co.uk/en/glasgow/', '_system');">NextBike</button>
      <button class="item button button-full button-clear button-positive" href="#"
         onclick="window.open('http://www.spt.co.uk/subway/', '_system');">Glasgow SPT Subway</button>
    </ion-list>
  </ion-content>
</ion-view>
